:root {
  --main: rgb(200, 0, 0);
  --background: white;
}

@font-face {
  font-family: "EliceDigitalBaeum-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HY-Headline";
  src: url("./font/H2HDRM.TTF") format("truetype");
}

@font-face {
  font-family: "orbit";
  src: url("./font/Orbit-Regular.ttf") format("truetype");
}

* {
  font-family: "EliceDigitalBaeum-Bd";
  /* font-family: "orbit", sans-serif; */
  font-weight: 100;
  font-style: normal;
}

canvas {
  z-index: 1;
}

.header {
  color: var(--main);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  min-width: 1200px;
  align-items: center;
  animation: right 60s linear infinite alternate;
  z-index: 3;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  width: fit-content;
  margin: 0;
  padding: 0 20px 20px 20px;
  /* font-family: "hahmlet", sans-serif;
  font-weight: 700;
  font-style: normal; */
}
.date {
  font-size: 4rem;
  font-weight: bold;
  width: fit-content;
  margin: 0;
  padding: 0 20px 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "hahmlet", sans-serif;
  font-weight: 700;
  font-style: normal; */
}

body {
  animation: bg 3s linear infinite alternate;
  /* background-image: url("./22.png"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 80vh;
}

.name-tag {
  /* background-color: white; */
  /* position: absolute; */
  position: fixed;
  left: 50%;
  top: -80px;
  padding: 15px;
  /* width: 165px; */
  display: flex;
  gap: 4px;
  z-index: 3;
  /* justify-content: center;
  align-items: center; */
  /* flex-direction: column;
  align-items: center; */
  /* mix-blend-mode: difference; */
}

.name {
  text-align: center;
  color: var(--main);
  /* line-height: 90%; */
  width: 20px;
  height: auto;
  font-size: 0.75rem;
  font-weight: 400;
  font-style: normal;
  filter: blur(3px);
  animation: blur 3s linear infinite alternate;
}

.name:hover {
  cursor: pointer;
  filter: blur(0);
  transition: 0.3s;
}

.focused {
  filter: blur(0);
  font-weight: 400;
}

.box {
  width: 10px;
  height: 10px;
  background-color: var(--main);
  position: relative;
  top: -10px;
  z-index: -1;
  /* left: 5px; */
}

.phone {
  min-width: 30px;
}

.sex,
.phone {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  font-style: normal;
  height: fit-content;
}

.info {
  opacity: 0;
  display: flex;
  gap: 4px;
  padding: 0 2px;
  margin-top: 2px;
  height: fit-content;
  color: var(--main);
  animation: blur 3s linear infinite alternate;
}

.name-tag:hover .info {
  opacity: 1;
  filter: blur(0);
  transition: 0.2s;
}

.name-tag:hover .sex,
.name-tag:hover .phone {
  opacity: 1;
  filter: blur(0);
  transition: 0.1s;
}

.opacity1 {
  opacity: 0;
  animation: opacity 2s linear infinite alternate-reverse;
}
.opacity2 {
  opacity: 0;
  animation: opacity 2s linear infinite alternate;
}
.blur1 {
  /* filter: none; */
  animation: blur1 3s linear infinite alternate;
}
.blur2 {
  /* filter: none; */
  animation: blur2 3s linear infinite alternate;
}
.blur3 {
  /* filter: none; */
  animation: blur3 3s linear infinite alternate-reverse;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blur {
  0% {
    filter: blur(2px);
  }
  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(2px);
  }
}

@keyframes blur1 {
  0% {
    filter: blur(5px);
  }
  50% {
    filter: blur(2px);
  }

  100% {
    filter: blur(0px);
  }
}

@keyframes blur2 {
  0% {
    filter: blur(3px);
  }
  25% {
    filter: blur(0px);
  }
  50% {
    filter: blur(4px);
  }
}

@keyframes blur3 {
  40% {
    filter: blur(3px);
  }
  50% {
    filter: blur(0px);
  }
  70% {
    filter: blur(1px);
  }
}

@keyframes bg {
  0% {
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 68%,
      rgba(0, 255, 213, 0.17) 100%
    );
  }
  100% {
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 67%,
      rgba(0, 255, 213, 0.17) 100%
    );
  }
}

@keyframes right {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
